@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  background: rgba(248, 242, 242, 0.133);
  width: 100%;
  height: 100vh;
  font-family: roboto, sans-serif;
}

header {
  height: 5rem;
  background: #fb6556;
  padding: 1.5rem;
  color: #ffffff;
}

header nav.header__nav {
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}

header nav.header__nav h2 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  transition: color ease-in 0.3s;
}

header nav.header__nav h2:hover {
  color: #8db4ab;
}

header nav.header__nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav.header__nav ul li {
  margin: 0 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-size: 1.1rem;
  transition: color ease-in 0.3s;
}

header nav.header__nav ul > a {
  color: #ffffff;
}

header nav.header__nav ul > a li:hover {
  color: #8db4ab;
}


main {
  display: flex;
  flex-direction:column;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: calc(100vh - 5rem);
}

main .container {
  width: 100%;
  height: 100%;
}

main .container h1.container__title {
  color: #313335;
  font-size: 3rem;
  text-align: center;
  margin-top: 1rem;
  letter-spacing: 2rem;
}

main .container ul.list {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
}

main .container ul.list li.list__item {
  background: #2bdab1;
  color: #ffffff;

  border-radius: 1rem;
  
  width: 15rem;
  height: 18rem;
  
  margin: 0.5rem;

  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;
}

main .container ul.list li.list__item img {
  width: 10rem;
  height: 9rem;
  cursor: pointer;
  transition: all ease-in 0.5s;
  margin-bottom: 2rem;
}

main .container ul.list li.list__item img:hover {
  width: 11rem;
  height: 10rem;
}

main .container ul.list li.list__item p {
  text-transform: capitalize;
  font-size: 2rem;
}


/* BACKGROUND BASED IN TYPES OF POKEMON */

main .container ul.list li.list__item.steel {
	background-color: #f4f4f4;
}

main .container ul.list li.list__item.fire {
  background: #f86e62;
}

main .container ul.list li.list__item.grass {
  background: #71d8c0;
}

main .container ul.list li.list__item.electric {
	background-color: #f5e282;
}

main .container ul.list li.list__item.water, .ice {
  background: #5bb0e9;
}

main .container ul.list li.list__item.ground {
	background-color: #f5dbc2;
}

main .container ul.list li.list__item.rock {
	background-color: #b4b4b1;
}

main .container ul.list li.list__item.fairy {
  background: #ccb1f7;
}

main .container ul.list li.list__item.poison {
	background-color: #98d7a5;
}

main .container ul.list li.list__item.bug {
	background-color: #f8d5a3;
}

main .container ul.list li.list__item.dragon {
	background-color: #97b3e6;
}

main .container ul.list li.list__item.psychic {
	background-color: #aa91c2;
}

main .container ul.list li.list__item.flying {
	background-color: #b6dff1;
}

main .container ul.list li.list__item.fighting {
  background-color: #b6dff1;
}

main .container ul.list li.list__item.normal {
	background-color: #c2a5a5;
}


@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 487px) {
  html {
    font-size: 50.5%;
  }
  h1 {
    font-size: 0.5rem;
  }
  main .container ul.list li.list__item {
    width: 13rem;
    height: 13rem;
  }
  
  main .container ul.list li.list__item img {
    width: 8rem;
    height: 7rem;
    margin-bottom: 0.5rem;
  }
  main .container ul.list li.list__item img:hover {
    width: 9rem;
    height: 8rem;
  }
}