@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

p, h1, h2, h3, h4, a, img, small.type {
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
}

small {
  cursor: default;
}

body {
  background: url(./background.png) repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-family: roboto, sans-serif;
}

main {
  display: flex;
  flex-direction:column;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: calc(100vh - 5rem);
}

main .container {
  width: 100%;
  height: 100%;
}

main .container a {
  display: flex;

  flex-direction: column;

  align-items: center;

  margin: 0.75rem 0;
}

main .container a img.title__img {
  width: 60%;
}

main .container ul.list {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
}

main .container ul.list li.list__item {
  color: #ffffff;
  
  width: 15rem;
  height: 18rem;
  
  margin: 0.5rem;
}

main .container ul.list li.list__item .item__image {
  display: flex;

  align-items: center;
  justify-content: center;

  border-radius: 1rem 1rem 0 0;

  height: 70%;
}

main .container ul.list li.list__item .item__image img {
  width: 10rem;
  height: 9rem;
  transition: all ease-in-out 0.5s;
  margin-bottom: 1rem;
}

main .container ul.list li.list__item .item__image img:hover {
  width: 11rem;
  height: 10rem;
}

main .container ul.list li.list__item .item__informations {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 30%;
  background: #a09e9e;

  border-radius: 0 0 1rem 1rem;
}

main .container ul.list li.list__item .item__informations p.name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

main .container ul.list li.list__item .item__informations .container__type small.type {
  padding: 0.4rem 0.7rem;
  border-radius: 10px;
  margin: 0 0.5rem;
}

main .container ul.list li.list__item .item__informations .container__type small.type:hover {
  filter: opacity(80%);
}

/* BACKGROUND OF TYPES POKEMONS*/
main .container ul.list li.list__item .item__informations .container__type small.type.grass {
  background: #21773e;
}

main .container ul.list li.list__item .item__informations .container__type small.type.poison {
  background: #516655;
}

main .container ul.list li.list__item .item__informations .container__type small.type.steel {
  background: #6b6d6e;
}

main .container ul.list li.list__item .item__informations .container__type small.type.fire {
  background: #f31f1f;
}
main .container ul.list li.list__item .item__informations .container__type small.type.electric {
  background: #d6d604;
}

main .container ul.list li.list__item .item__informations .container__type small.type.water {
  background: #4646d3;
}

main .container ul.list li.list__item .item__informations .container__type small.type.ice {
  background: #a6d8e6;
}

main .container ul.list li.list__item .item__informations .container__type small.type.ground {
  background: #da7730;
}

main .container ul.list li.list__item .item__informations .container__type small.type.rock {
  background: #494a4b;
}

main .container ul.list li.list__item .item__informations .container__type small.type.fairy {
  background: #a148a1;
}

main .container ul.list li.list__item .item__informations .container__type small.type.bug {
  background: #a39a1b;
}

main .container ul.list li.list__item .item__informations .container__type small.type.dragon {
  background: #5f3417;
}

main .container ul.list li.list__item .item__informations .container__type small.type.psychic {
  background: #7979c2;
}

main .container ul.list li.list__item .item__informations .container__type small.type.flying {
  background: #5f9cbf;
}

main .container ul.list li.list__item .item__informations .container__type small.type.fighting {
  background: #f79e63;
}

main .container ul.list li.list__item .item__informations .container__type small.type.ghost {
  background: #424242;
}

main .container ul.list li.list__item .item__informations .container__type small.type.normal {
  background: #c36e0c;
}

/* BACKGROUND CONTAINER BASED IN TYPES OF POKEMON */

main .container ul.list li.list__item .item__image.steel {
	background-color: #f4f4f4;
}

main .container ul.list li.list__item .item__image.fire {
  background: #f86e62;
}

main .container ul.list li.list__item .item__image.grass {
  background: #71d8c0;
}

main .container ul.list li.list__item .item__image.electric {
	background-color: #f5e282;
}

main .container ul.list li.list__item .item__image.water, .ice {
  background: #5bb0e9;
}

main .container ul.list li.list__item .item__image.ground {
	background-color: #f5dbc2;
}

main .container ul.list li.list__item .item__image.rock {
	background-color: #b4b4b1;
}

main .container ul.list li.list__item .item__image.fairy {
  background: #ccb1f7;
}

main .container ul.list li.list__item .item__image.poison {
	background-color: #98d7a5;
}

main .container ul.list li.list__item .item__image.bug {
	background-color: #f8d5a3;
}

main .container ul.list li.list__item .item__image.dragon {
	background-color: #97b3e6;
}

main .container ul.list li.list__item .item__image.psychic {
	background-color: #aa91c2;
}

main .container ul.list li.list__item .item__image.flying {
	background-color: #b6dff1;
}

main .container ul.list li.list__item .item__image.fighting {
  background-color: #b6dff1;
}

main .container ul.list li.list__item .item__image.ghost {
  background: #76787a;
}

main .container ul.list li.list__item .item__image.normal {
	background-color: #c2a5a5;
}


@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 487px) {
  html {
    font-size: 50.5%;
  }
  main .container ul.list li.list__item {
    width: 13rem;
    height: 17rem;
  }
  
  main .container ul.list li.list__item img {
    width: 8rem;
    height: 7rem;
    margin-bottom: 0.5rem;
  }
  main .container ul.list li.list__item img:hover {
    width: 9rem;
    height: 8rem;
  }
  main .container ul.list li.list__item .item__informations {
    height: 33%;
  }
}